.__wrap {
    padding-top: 2.2rem;
}
.header {
    padding-bottom: 0;
}

.write {
    width: 100%;
    min-height: calc(100vh - 2.2rem);
    display: flex;
    flex-direction: column;
}
.write .write_head {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.write_form {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.write_form > input {
    width: 100%;
    padding: 0 1.2rem 1rem;
    border: none;
    font-size: 0.9rem;
    color: var(--black);
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -0.018rem;
    outline: none;
}
.write_form > input::placeholder {
    color: var(--gray);
    font-weight: 300;
}
.write_form > textarea {
    flex: 1;
    resize: none;
    width: 100%;
    min-height: 17.3rem;
    border-top: 1px solid var(--gray06);
    padding: 2.4rem 1.2rem 1rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    outline: none;
    font-size: 0.7rem;
    color: var(--black01);
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.021rem;
}
.write_form > textarea::placeholder {
    color: var(--gray);
    font-weight: 300;
}
.keyword {
    display: flex;
    align-items: center;
    gap: 0.45rem;
    grid-gap: 0.45rem;
    padding-left: 1.2rem;
    overflow: hidden;
}
.keyword > button {
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    grid-gap: 0.5rem;
    background-color: var(--secondary);
    border-radius: 2.5rem;
    border: none;
    padding-left: 0;
    cursor: pointer;
}
.keyword > button > img {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
}
.keyword > button > span {
    font-size: 0.7rem;
    color: var(--primary);
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.021rem;
}
.keyword_swiper .keywordSwiper {
    padding-right: 1.2rem;
}
.keyword_swiper .swiper-slide,
.upload_swiper .swiper-slide {
    width: fit-content;
}
.keyword_swiper .keyword_item {
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.45rem;
    grid-gap: 0.45rem;
    padding: 0 0.35rem;
    border-radius: 1.05rem;
    border: 1px solid var(--gray05);
}
.keyword_swiper .keyword_item > span {
    font-size: 0.7rem;
    color: var(--gray);
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: -0.021rem;
}
.keyword_swiper .keyword_item > button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.keyword_swiper .keyword_item > button img {
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    transform: translateY(-1px);
}
.write_body .keyword_input {
    display: none;
    width: 100%;
    align-items: center;
    gap: 1rem;
    grid-gap: 1rem;
    padding: 0.2rem 1.2rem;
    border-top: 1px solid var(--gray06);
    border-bottom: 1px solid var(--gray06);
    background: var(--white);
    margin-top: 0.7rem;
}
.write_body .keyword_input.active {
    display: flex;
}
.write_body .keyword_input input {
    width: 100%;
    font-size: 0.7rem;
    color: var(--black01);
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.014rem;
    outline: none;
    border: none;
}
.write_body .keyword_input input::placeholder {
    color: var(--gray04);
    font-weight: 300;
}
.write_body .keyword_input button {
    min-width: fit-content;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    background: var(--gray06);
    border: none;
    font-size: 0.7rem;
    color: var(--gray);
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.014rem;
}
.image_upload {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    grid-gap: 0.4rem;
    padding: 0 0 0 1.2rem;
    margin: 0 0 0.5rem;
}
.image_upload_button input[type="file"] {
    display: none;
}
.image_upload .image_upload_button label {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    background: var(--white);
    border: 1px solid var(--gray05);
    border-radius: 0.4rem;
    padding: 0.7rem;
    cursor: pointer;
}
.image_upload .image_upload_button label img {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
}
.upload {
    width: 100%;
    overflow: hidden;
}
.upload .upload_swiper .uploadSwiper {
    padding: 0.7rem 1rem 0.7rem 0;
}
.upload .no-upload {
    display: block;
    width: 100%;
    font-size: 0.7rem;
    color: var(--gray);
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: -0.021rem;
    text-align: center;
}
.upload_item {
    position: relative;
}
.upload_item > img {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.4rem;
}
.upload_item > button {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: -0.3rem;
    top: -0.3rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.upload_item > button > img {
    display: block;
    width: 1rem;
    height: 1rem;
}
.nickname {
    padding: 0 1.2rem;
}
.nickname > input[type="checkbox"] {
    display: none;
}
.nickname > label {
    display: block;
    text-indent: 1.5rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1rem 1rem;
    background-image: url("../images/btns/btn_checked_all_off.png");
    font-size: 0.7rem;
    color: var(--gray);
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: -0.021rem;
    cursor: pointer;
}
.nickname > input[type="checkbox"]:checked + label {
    background-image: url("../images/btns/btn_checked_all_on.png");
}

.write_btn {
    padding: 0.6rem 1.2rem 1.05rem;
}
.write_btn button {
    width: 100%;
    height: 2.6rem;
    border-radius: 0.4rem;
    background: var(--black);
    border: none;
    font-size: 0.8rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.016rem;
    cursor: pointer;
}
.write_btn button:disabled {
    background: var(--gray06);
    color: var(--gray);
    cursor: default;
}

.temporary_storage_popup,
.continue_writing_popup,
.complete_popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    transition: opacity 0.3s ease;
}
.temporary_storage_popup.active,
.continue_writing_popup.active,
.complete_popup.active {
    opacity: 1;
    visibility: visible;
}
.temporary_storage_popup .content,
.continue_writing_popup .content,
.complete_popup .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 16rem;
    padding: 1.5rem 0.8rem 1.2rem;
    border-radius: 0.4rem;
    background: var(--white);
}
.temporary_storage_popup .content .title,
.continue_writing_popup .content .title,
.complete_popup .content .title {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    grid-gap: 0.4rem;
    text-align: center;
}
.temporary_storage_popup .content .title h6,
.continue_writing_popup .content .title h6,
.complete_popup .content .title h6 {
    font-size: 0.9rem;
    color: var(--black);
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -0.018rem;
}
.temporary_storage_popup .content .title span,
.continue_writing_popup .content .title span,
.complete_popup .content .title span {
    font-size: 0.7rem;
    color: var(--black);
    font-weight: 700;
    line-height: 1.57;
    letter-spacing: -0.018rem;
}
.temporary_storage_popup .content .buttons,
.continue_writing_popup .content .buttons,
.complete_popup .content .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    grid-gap: 0.6rem;
    margin-top: 1.3rem;
}
.temporary_storage_popup .content .buttons > button,
.continue_writing_popup .content .buttons > button,
.complete_popup .content .buttons > button {
    width: 100%;
    height: 2.6rem;
    border-radius: 0.4rem;
    background: var(--black);
    border: none;
    font-size: 0.8rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.016rem;
    cursor: pointer;
}
.temporary_storage_popup .content .buttons > div,
.continue_writing_popup .content .buttons > div,
.complete_popup .content .buttons > div {
    display: flex;
    align-items: center;
}
.temporary_storage_popup .content .buttons > div button,
.continue_writing_popup .content .buttons > div button,
.complete_popup .content .buttons > div button {
    flex: 1;
    background: none;
    border: none;
    font-size: 0.7rem;
    color: var(--gray);
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.014rem;
    cursor: pointer;
    padding: 0;
}
