.__wrap {
    padding-top: 2.2rem;
}
.header {
    padding-bottom: 0;
}
.inquiry_wrapper > div h6 {
    font-size: 0.8rem;
    color: var(--black);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.016rem;
    padding: 0 1.2rem;
}
.faq_wrapper {
    padding: 1rem 0 0;
}
.faq {
    margin-top: 1.2rem;
}
.faq_item {
    cursor: pointer;
}
.faq_item_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.2rem;
    border-bottom: 1px solid var(--gray06);
}
.faq_item_title > span {
    font-size: 0.7rem;
    color: var(--black);
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: -0.014rem;
}
.faq_item_title > img {
    display: block;
    width: 0.9rem;
    height: 0.9rem;
}
.faq_item_content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.faq_item_content_inner {
    padding: 1rem 1.2rem;
    background: var(--gray08);
}
.faq_item_content_inner > span {
    display: block;
    font-size: 0.7rem;
    color: var(--black);
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: -0.021rem;
}
.inquiry_inner {
    margin-top: 3rem;
}
.inquiry_inner .head h6 {
    padding: 0;
}
.inquiry_inner .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.inquiry_inner .head button {
    border: none;
    background: var(--black01);
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
    color: var(--white);
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.014rem;
    cursor: pointer;
}
.inquiry_list {
    padding: 1.05rem 0;
}
.inquiry_list li {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    grid-gap: 0.35rem;
    padding: 0.6rem 1.2rem;
    border-bottom: 1px solid var(--gray06);
    cursor: pointer;
}
.inquiry_list li > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inquiry_list li > div > span {
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 100;
    line-height: 1.67;
    letter-spacing: -0.012rem;
}
.inquiry_list li > div > div {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    grid-gap: 0.3rem;
}
.inquiry_list li > div > div strong {
    font-size: 0.7rem;
    color: var(--black);
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.014rem;
}
.inquiry_list li > div > div span {
    font-size: 0.6rem;
    color: var(--gray);
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: -0.012rem;
}
.inquiry_list li > div > div span.complete {
    color: var(--primary);
}
.inquiry_list li > div > h6 {
    font-size: 0.6rem;
    color: var(--black01);
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: -0.012rem;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.inquiry_list li > div > img {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
}
