.__wrap {
    padding-top: 2.2rem;
}
.header {
    display: none;
    padding-bottom: 0;
    max-width: 768px;
    left: 50%;
    transform: translateX(-50%);
}
.header.default {
    display: block;
}
.main {
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
}
.main .container.full {
    flex: 1;
}
.newpassword {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 1.2rem 1.7rem;
    margin-top: 1.8rem;
}
.newpassword.default {
    display: flex;
}
.newpassword > h2 {
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 300;
    line-height: 1.42;
    letter-spacing: -0.024rem;
}
.newpassword .password_form {
    flex: 1;
}
.password_form {
    margin-top: 1.8rem;
}
.password_form > fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    grid-gap: 0.2rem;
}
.password_form > fieldset + fieldset {
    margin-top: 0.6rem;
}
.password_form > fieldset.profile_edit_form {
    margin-bottom: 1.8rem;
    margin-top: 0;
}
.password_form > fieldset .label_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.password_form > fieldset .label_title > span {
    display: none;
    font-size: 0.6rem;
    color: var(--error);
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: -0.012rem;
}
.password_form > fieldset.error .label_title > span {
    display: block;
}
.password_form > fieldset label {
    font-size: 0.6rem;
    color: var(--black);
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: -0.012rem;
}
.password_form > fieldset input {
    width: 100%;
    height: 2.6rem;
    border: 1px solid var(--gray04);
    border-radius: 0.4rem;
    padding: 0 4.4rem 0 1rem;
    font-size: 0.8rem;
    color: var(--black);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.016rem;
    outline: none;
}
.password_form > fieldset.error input {
    border: 1px solid var(--error);
}
.password_form > fieldset input::placeholder {
    color: var(--gray);
    font-weight: 300;
}
.password_form > fieldset > .input {
    position: relative;
}
.password_form > fieldset > .input .sub_options {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 0.2rem;
    grid-gap: 0.2rem;
}
.password_form > fieldset > .input .sub_options button {
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.password_form > fieldset > .input .sub_options button img {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
}
.password_form > fieldset > .input .sub_options button.btn_eye {
    width: 1.2rem;
    height: 1.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/icons/icon_gray_eye_off.png");
}
.password_form > fieldset > .input .sub_options button.btn_eye.active {
    background-image: url("../images/icons/icon_gray_eye_on.png");
}
.password_form > fieldset > .input .sub_options button.btn_delete {
    display: none;
}
.password_form > fieldset > .input .sub_options button.btn_delete.active {
    display: block;
}

.btn_complete {
    width: 100%;
    height: 2.6rem;
    border-radius: 0.4rem;
    background: var(--black);
    border: none;
    font-size: 0.8rem;
    color: var(--white);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.016rem;
}
.btn_complete:disabled {
    background: var(--gray06);
    color: var(--gray);
}
