.__wrap {
    padding-top: 2.2rem;
}
.header {
    padding-bottom: 0;
}
.search_keyword {
    color: var(--primary);
}
.search_detail {
    padding: 1rem 0;
}
.search_detail_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
}
.search_detail_head > span {
    font-size: 0.8rem;
    color: var(--gray01);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.016rem;
}
.search_detail_head .filter {
    margin-top: 0;
}
.search_detail_list ul {
    margin-top: 0.4rem;
}
.search_detail_list ul li {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    grid-gap: 0.25rem;
    padding: 0.85rem 1.2rem 0.95rem;
    border-bottom: 1px solid var(--gray06);
    cursor: pointer;
}
.search_detail_list ul li > h6 {
    font-size: 0.8rem;
    color: var(--black);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.016rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.search_detail_list ul li > span {
    font-size: 0.7rem;
    color: var(--gray);
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: -0.014rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
